{% extends 'base.html'%}


{% block content%}
<h2>Sign Up</h2>

{% for message in messages %}
    <h5 style="color: red;">{{message}}</h5>
{% endfor %}

    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="username" id="" placeholder="username"><br><br>
        <input type="email" name="email" id="" placeholder="email"><br><br>
        <input type="password" name="password" id="" placeholder="password"><br><br>
        <input type="password" name="password2" id="" placeholder="confirm password">
        <br><br>
        <input type="submit" value="submit">

    </form>
{% endblock%}